{% if site.data.profile.education %}
<section class="profile-section mt-4">
    <h2>Education</h2>
    <ul class="profile-list">
        {% for item in site.data.profile.education %}
        <li>
            <em>{{ item.date }}</em>, {{ item.name }}. {{ item.position }}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% if site.data.profile.experience %}
<section class="profile-section mt-4">
    <h2>Experience</h2>
    <ul class="profile-list">
        {% for item in site.data.profile.experience %}
        <li>
            <em>{{ item.date }}</em>, {{ item.position }}, {{ item.name }}{% if item.description %}. {{ item.description }}{% else %}.{% endif %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
