{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<section class="content-section">
    <h2>News</h2>
    <div class="news-list">
        {% for year in news_by_year %}
        {% for item in year.items %}
        <div class="news-item">
            <div>{{ item.title }}</div>
            <time>{{ item.date | date: "%b %d, %Y" }}</time>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</section>
