{% assign publications = include.publications %}
<section class="content-section publication-section">
    <div class="section-heading-row">
        <h2>{% if include.title %}{{ include.title }}{% else %}Selected Recent Publications{% endif %}</h2>
        <a class="section-link" href="{{ 'publications' | relative_url }}">View All <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="publication-list">
    {% for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item first=false last=false %}    
    {% endfor %}
    </div>
</section>
